/* CUSTOM PROPY */
:root {
    --color-link:#FA5959;
    --color-links:#5267DF;
    --color-title-text:#242A45;
    --color:#fff;
    --bg-hero-link:#F7F7F7;
    --fonts:'Rubik', 'Arial', sans-serif;
}

/* FONTS */
@font-face {
    font-family: 'Rubik';
    src: url('../font/Rubik-Medium.woff2') format('woff2'),
    url('../font/Rubik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../font/Rubik-Regular.woff2') format('woff2'),
    url('../font/Rubik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* GLOBAL-STYLE */
* {
    box-sizing: border-box;
}

html {
    
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    font-family: var(--fonts);
    color: var(--color-title-text);
    background-color: var(--color);  
}


*:focus {
    outline-color: var(--color-links);                             
    outline-offset: 2px;
    outline-width: 3px;
    outline-style: dashed;
}

img {
    max-width: 100%;
    height: auto;
}

/* .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
} */

.container {
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}


/* SITE HEADER */
.site-header {
    padding-top: 48px;
    padding-bottom: 48px;
}
.site-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.site-header__logo {
    display: flex;
    flex-shrink: 0;
    margin-right: 15px;
    transition: 0.2s ease;
}

.site-header__logo:hover {
    opacity: 0.6;
}

.site-header__logo:active {
    opacity: 0.8;
}

.site-header__img {
    width: 149px;
    height: 25px;
    object-fit: contain;
}

/* SITENAV */
.sitenav {
    display: flex;
    align-items: center;
}

.sitenav__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sitenav__iteam:not(:last-child) {
    margin-right: 45px;
}
.sitenav__link {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 1.5px;
    white-space: nowrap;
    cursor: pointer;
    color: var(--color-title-text);
    transition: 0.1s ease;
}

.sitenav__link:hover {
    color: var(--color-link);
}

.main-link {
    background-color: var(--color-link);
    color: var(--color);
    padding: 11px 32px;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
    border-radius: 5px;
    border: 2px solid transparent;
    transition: 0.4s ease;
}

.main-link:hover {
    color: var(--color-link);
    background-color: var(--color);
    border: 2px solid var(--color-link);
}

/* MAIN CONTENT */
.main-content {
    flex-grow: 1;
}


/* HERO */
.hero {
    padding-top: 131px;
    padding-bottom: 203px;
    background-repeat: no-repeat;
    background-position: calc(50% + 709px) 197px;
    background-image: url("../img/Rectangle.svg");
}

.hero__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.hero__info {
    width: 540px;
    position: relative;
}

.hero__heading {
    font-weight: 500;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -0.15px;
    margin: 0;
    margin-bottom: 24px;
}
.hero__text {
    margin: 0;
    opacity: 0.5;
    margin-bottom: 32px;
}

.hero__link {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;
    color: var(--color);
    text-decoration: none;
    padding: 10px 24px;
    background-color: var(--color-links);
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
    border-radius: 5px;
    margin-right: 16px;
    border: 2px solid transparent;
    transition: 0.2s ease;
}

.hero__link:hover {
    background-color: var(--color);
    color: var(--color-links);
    border: 2px solid var(--color-links);
}

.hero__links {
    margin: 0;
    background-color: var(--bg-hero-link);
    color: var(--color-title-text);
}

.hero__links:hover {
    background-color: var(--color);
    color: var(--color-title-text);
    border: 2px solid rgba(91, 96, 116, 1);
}

.hero__img {
    width: 1000px;
    height: 352px;
    position: absolute;
    right: -650px;
    top: 66px;
    z-index: -1;
    object-fit: cover;
}

.hero-img__two {
    width: 574px;
    height: 381px;
    position: absolute;
    z-index: 1;
    left: 631px;
    bottom: -21px;
    object-fit: cover;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));
}


/* FEATURES */
.main-info {
    width: 540px;
    margin-right: auto;
    margin-left: auto;
}

.main-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 52px;
    text-align: center;
    letter-spacing: -0.1px;
    margin: 0;
    margin-bottom: 16px;
}

.main-text {
    text-align: center;
    margin: 0;
    opacity: 0.5;
}


.features__container {
    margin-bottom: 72px;
}

.features__title {
    margin-bottom: 16px;
}

.features__list {
    width: 730px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
}

.features__iteam:not(:last-child) {
    margin-right: 105px;
}

.features__button {
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: 0.533333px;
    color: var(--color-title-text);
    background-color: var(--color);
    opacity: 0.75;
    display: block;
    transition: 0.2s ease;
    border: none;
    padding-bottom: 27px;
}

.features__button:hover {
    color: var(--color-link);
}


/* BOOKMARK CLICK */
.bookmark-click {
    background-image: url("../img/Rectangle.svg");
    background-repeat: no-repeat;
    background-position: calc(50% + -575px) 154px;
    padding-top: 72px;
    padding-bottom: 119px;
    position: relative;
    z-index: -1;
}
.bookmark-click__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    
}
.bookmark-click__img {
    width: 546px;
    height: 346px;
    object-fit: cover;
    left: 10px;
    top: 72px;
    z-index: -1;
}

.bookmark-click__info {
    width: 440px;
}

.bookmark-click__heading {
    font-weight: 500;
    font-size: 32px;
    line-height: 52px;
    letter-spacing: -0.1px;
    color: var(--color-title-text);
    margin: 0;
    margin-bottom: 16px;
}

.bookmark-click__text {
    margin: 0;
    margin-bottom: 32px;
    opacity: 0.5;
}

.bookmark-click__link {
    text-decoration: none;
    display: inline-block;
    background-color: var(--color-links);
    color: var(--color);
    padding: 10px 18px;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
    border-radius: 5px;
}


/* DOWNLOAD EXTENSION */
.download-extension {
    padding-top: 119px;
    padding-bottom: 114px;
}
.download-extension__info {
    margin-bottom: 48px;
}

.download-extension__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.download-extension__item {
    max-width: 284px;
    padding: 52px 21px 24px 24px;
    background-color: var(--color);
    box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.20012);
    border-radius: 15px;
    text-align: center;
}

.download-extension__item:not(:last-child) {
    margin-right: 34px;
}

.download-extension__item--firefox {
    margin-bottom: -86px;
}

.download-extension__item--opera {
    margin-bottom: -166px;
}

.download-extension__img {
    object-fit: cover;
    margin-bottom: 32px;
}

.download-extension__heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.25px;
    margin: 0;
    margin-bottom: 6px;
}
.download-extension__text {
    font-size: 15px;
    margin: 0;
    opacity: 0.5;
    margin-bottom: 60px;
}
.download-extension__link {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.25px;
    color: var(--color);
    white-space: nowrap;
    cursor: pointer;
    text-decoration: none;
    background-color: var(--color-links);
    padding: 10px 35px;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
    border-radius: 5px;
}

/* FREQUENTLY QUESTIONS */
.frequently-questions {
    padding-top: 114px;
    padding-bottom: 75px;
}


.frequently-questions__acardion-wrapper {
    margin-left: 496px;
    margin-right: 483px;
    padding-top: 31px;
}

.acardion-title {
    border-top: 1px solid #979797;
}

/* Style the buttons that are used to open and close the accordion panel */
.frequently-questions__acardion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color);
    color: var(--color-title-text);
    cursor: pointer;
    padding-top: 19px;
    padding-bottom: 13px;
    padding-left: 0;
    padding-right: 24px;
    width: 100%;
    text-align: center;
    border: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    border-bottom: 1px solid #979797;
}


.frequently-questions__arrow {
    color: var(--color-links);
    width: 16px;
    height: 8px;
}


/* Style the accordion panel. Note: hidden by default */
.frequently-questions__panel {
    padding: 5px;
    background-color: var(--color);
    display: none;
}

.frequently-questions__text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0.15px;
    color: var(--color-title-text);
    opacity: 0.75;
}

.acardion-title {
    border-top: 1px solid #979797;
}