/* CUSTOM PROPY */
:root {
    --color-link:#FA5959;
    --color-links:#5267DF;
    --color-title-text:#242A45;
    --color:#fff;
    --bg-hero-link:#F7F7F7;
    --fonts:'Rubik', 'Arial', sans-serif;
}

/* FONTS */
@font-face {
    font-family: 'Rubik';
    src: url('../font/Rubik-Medium.woff2') format('woff2'),
    url('../font/Rubik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../font/Rubik-Regular.woff2') format('woff2'),
    url('../font/Rubik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* GLOBAL-STYLE */
* {
    box-sizing: border-box;
}

html {
    
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    font-family: var(--fonts);
    color: var(--color-title-text);
    background-color: var(--color);     
}

*:focus {
    outline-color: var(--color-links);                             
    outline-offset: 2px;
    outline-width: 3px;
    outline-style: dashed;
}

img {
    max-width: 100%;
    height: auto;
}

/* .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
} */

.container {
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}


/* SITE HEADER */
.site-header {
    padding-top: 48px;
    padding-bottom: 48px;
}
.site-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.site-header__logo {
    display: flex;
    flex-shrink: 0;
    margin-right: 15px;
    transition: 0.2s ease;
}

.site-header__logo:hover {
    opacity: 0.6;
}

.site-header__logo:active {
    opacity: 0.8;
}

.site-header__img {
    width: 149px;
    height: 25px;
    object-fit: contain;
}

/* SITENAV */
.sitenav {
    display: flex;
    align-items: center;
}

.sitenav__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sitenav__iteam:not(:last-child) {
    margin-right: 45px;
}
.sitenav__link {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 1.5px;
    white-space: nowrap;
    cursor: pointer;
    color: var(--color-title-text);
    transition: 0.1s ease;
}

.sitenav__link:hover {
    color: var(--color-link);
}

.main-link {
    background-color: var(--color-link);
    color: var(--color);
    padding: 11px 32px;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
    border-radius: 5px;
    border: 2px solid transparent;
    transition: 0.4s ease;
}

.main-link:hover {
    color: var(--color-link);
    background-color: var(--color);
    border: 2px solid var(--color-link);
}

/* MAIN CONTENT */
.main-content {
    flex-grow: 1;
    background-repeat: no-repeat;
    background-position: calc(50% + 708px) 197px;
    background-image: url("../img/Rectangle.svg");
}


/* HERO */
.hero {
    padding-top: 131px;
    padding-bottom: 203px;
}

.hero__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.hero__info {
    width: 540px;
    position: relative;
}

.hero__heading {
    font-weight: 500;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -0.15px;
    margin: 0;
    margin-bottom: 24px;
}
.hero__text {
    margin: 0;
    opacity: 0.5;
    margin-bottom: 32px;
}

.hero__link {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;
    color: var(--color);
    text-decoration: none;
    padding: 10px 24px;
    background-color: var(--color-links);
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
    border-radius: 5px;
    margin-right: 16px;
    border: 2px solid transparent;
    transition: 0.2s ease;
}

.hero__link:hover {
    background-color: var(--color);
    color: var(--color-links);
    border: 2px solid var(--color-links);
}

.hero__links {
    margin: 0;
    background-color: var(--bg-hero-link);
    color: var(--color-title-text);
}

.hero__links:hover {
    background-color: var(--color);
    color: var(--color-title-text);
    border: 2px solid rgba(91, 96, 116, 1);
}

.hero__img {
    width: 1000px;
    height: 352px;
    position: absolute;
    right: -650px;
    top: 66px;
    z-index: -1;
    object-fit: cover;
}

.hero-img__two {
    width: 574px;
    height: 381px;
    position: absolute;
    z-index: 1;
    left: 55%;
    bottom: -21px;
    object-fit: cover;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));
}

